<h3><%= "Hi #{session[:name]}." %></h3>
<h3><em>You is kind, you is smart, you is important!</em></h3>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post' }) do %>
    <%= submit_tag "Log out" %>
<% end %>